<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dspkvxtxa/image/upload/v1634310249/pk3hokmsiv8ylrmmswxs.jpg);">
  <div class="container">
    <div class="text-center">
    <h1>Villa  Palmeras<strong> in Bahria Enclave</strong> <strong>Islamabad</strong>!</h1>
    <p>Discover staying in a unique Villa within a quiet and secure location.</p>
    <a class="btn btn-flat" href="#">Book Now</a>
    </div>
  </div>
</div>