<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <!-- Google result text-->
        <title>Our Villa in Islamabad Pakistan</title>
        <%= favicon_link_tag 'favicon.ico' %>
        <!-- Global site tag (gtag.js) - Google Analytics
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ME88LD4GDV"></script>  -->
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-ME88LD4GDV');
        </script>
        <!-- Google result description-->
        <meta name="description" content="Discover staying in a unique Villa within a quiet and secure location within Islamabad Pakistan.">
        <!-- og Is Open Graph tagging used by Facebook and Twitter has a siilar one.-->
        <!--  Essential META Tags -->
        <meta property="og:title" content="Our Villa in Islamabad">
        <meta property="og:image" content="https://ourvillainislamabad.herokuapp.com/outside.jpg">
        <meta property="og:description" content="Discover staying in a unique Villa within a quiet and secure location within Islamabad Pakistan.">
        <meta property="og:url" content="https://ourvillainislamabad.herokuapp.com">
        <meta name="twitter:card" content="summary_large_image">
        <!--  Non-Essential, But Recommended -->
        <meta property="og:site_name" content="Our Villa in Islamabad">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    </head>
  <body>



 <%= render 'shared/banner' %> 


 <%= render 'shared/carousel' %>


<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Breakfast
</div>

<%= render 'shared/contact' %> 

  </body>
</html>